<connectionStrings>
  <!--    <add name="Camps" connectionString="Data Source=localhost,1433\LOCALSQL;Initial Catalog=CampsDb;Persist Security Info=True;User ID=sites;Password=jnrhjqcz" providerName="System.Data.SqlClient" />-->
  <add name="Camps" connectionString="Data Source=.;Initial Catalog=CampsDb;Integrated Security=True;Application Name=Camps-back" providerName="System.Data.SqlClient" />
</connectionStrings>
